/* Fonts */
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
html {
	font-size: 10px;
}
body {
	color: #23282c;
	font-family: 'Roboto-Regular';
	font-weight: 400;
	line-height: normal;
}
html, body {
	height: 100%;
	width: 100%;
}
button {
	cursor: pointer;
}
button:focus,
input:focus,
select:focus {
	border: 1px solid #8ad4ee !important;
	border-radius: .7rem;
	box-shadow: 0 0 0 .3rem rgba(32,168,216,.25);
	outline: none;
}

/* wrapper styles */
.wrapper {
	height: 100%;
	width: 100%;
}

/* header styles */
.header {
	background-color: #f0f3f5;
	border-bottom: 1px solid #23282c;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 2rem;
	height: calc(6rem - 1px);
}

.header__title {
	flex-grow: 1;
}

.header__title h2 {
	color: #73818f;
	font-size: 2.5rem;
	text-align: center;
}

.header__logout button {
	background-color: #20a8d8;
	border: none;
	border-radius: .7rem;
	color: #fff;
	font-size: 1.5rem;
	height: 3rem;
	width: 10rem;
}

.header__logout button:hover {
	background-color: #1985ac;
}

/* content styles */
.content {
	display: flex;
	flex-direction: row;
}

/* navbar styles */
.navbar {
	background-color: #23282c;
	color: #fff;
	height: calc(100vh - 6rem);
	width: 25rem;
}

.navbar__logo {
	margin: 2rem 0;
	text-align: center;
	height: 10rem;
}

.navbar__logo img {
	height: 10rem;
}

.navbar__menu li {
	cursor: pointer;
	font-size: 2rem;
	padding: 2rem 1rem;
}

.navbar__menu li.active {
	background-color: #3a4248;
}

.navbar__menu li:hover {
	background-color: #20a8d8;
}

/* container styles */
.container {
	padding: 2rem;
	width: 100%;
}

/* customer styles */
.customers {
	display: flex;
	flex-direction: column;
}

.customers__inputs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 6rem;
}

.customers__inputs-search input,
.customers__inputs select {
	border: 1px solid #e4e7ea;
	border-radius: .7rem;
	font-size: 1.8rem;
	padding: 0 2rem;
	height: 4rem;
}

.customers__inputs-search {
	position: relative;
}

.customers__inputs-search input {
	padding-left: 4rem;
}

.customers__inputs-search label {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 4rem;
	width: 4rem;
}

.customers__inputs-search label img {
	height: 2rem;
	width: 2rem;
}

.customers__inputs select {
	margin-left: 2rem;
}

.customers__table {
	overflow: auto;
}

.customers__table table {
	border-spacing: 0;
	width: 100%;
}

.customers__table tr {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.customers__table tr:nth-child(odd) {
	background-color: #f0f3f5;
}

.customers__table th {
	font-weight: bold;
}

.customers__table th,
.customers__table td {
	border: 1px solid #c8ced3;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	text-align: center;
	height: 4rem;
	width: 25%;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
	html {
		font-size: 10px;
	}
}
@media (min-width: 1440px) and (max-width: 1599px) {
	html {
		font-size: 10px;
	}
}
@media (min-width: 1200px) and (max-width: 1439px) {
	html {
		font-size: 9px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 8px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 7px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 7px;
	}
}

@media (max-width: 660px) {
	html {
		font-size: 7px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
	html {
		font-size: 6px;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 6px;
	}
}

@media (max-width: 375px) {
	html {
		font-size: 6px;
	}
}