/* Fonts */
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Roboto-Regular';
	font-weight: 400;
	line-height: normal;
}
html, body {
	height: 100%;
	width: 100%;
}

/* wrapper styles */
.wrapper {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}

.container {
	margin: 0 auto;
	position: relative;
	height: calc(100% - 4px);
	max-width: 130rem;
}

/* popup styles */
.popup {
	background-color: #fff;
	border: 2px solid #333;
	border-radius: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem 2rem;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: 30rem;
	width: 100rem;
}

.popup__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 2rem;
	height: 4rem;
}

.popup__header h2 {
	font-size: 2.5rem;
	font-weight: bold;
}

.popup__actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.popup__actions button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.popup__actions button img {
	height: 100%;
}

.popup__print {
	height: 2.5rem;
}

.popup__close {
	margin-left: 1rem;
	height: 2rem;
}

.popup__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: calc(100% - 6rem);
	width: 100%;
}

.popup__map,
.popup__detail,
.popup__provider {
	border: 1px solid #333;
	border-radius: 1rem;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	height: 100%;
}
 
.popup__map {
	width: 25%;
}

.popup__detail {
	width: 55%;
}

.popup__provider {
	width: 17%;
}

.popup__map iframe {
	border-radius: 1rem;
	height: 100%;
	width: 100%;
}

.popup__detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: .5rem 1rem;
}

.popup__detail hr {
	border-top: 2px dashed #333;
	width: 100%;
}

.popup__detail h4 {
	font-size: 1.5rem;
	font-weight: bold;
}

.popup__detail h4 span {
	font-weight: normal;
}

.popup__detail ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style-type: 
}

.popup__detail ul li {
	font-size: 1.5rem;
	width: 25%;
}

.popup__detail ul li::before {
	content: "\2014\a0"
}

.popup__provider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: .5rem;
}

.popup__preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.popup__provider h3 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.popup__provider img {
	border: 1px solid #333;
	border-radius: 1rem;
	margin-bottom: 1rem;
	width: 10rem;
}

.popup__provider-info {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.popup__provider-info h4 {
	font-size: 1.5rem;
	font-weight: bold;
}

.popup__provider-info h4 span {
	font-weight: normal;
}

.popup__provider-info p {
	font-size: 1.5rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
	html {
		font-size: 10px;
	}
}
@media (min-width: 1440px) and (max-width: 1599px) {
	html {
		font-size: 10px;
	}
}
@media (min-width: 1200px) and (max-width: 1439px) {
	html {
		font-size: 9px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 8px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 7px;
	}

	/* container styles */
	.container {
		padding: 0 2rem;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 7px;
	}

	/* wrapper styles */
	.wrapper {
		/*height: auto;*/
	}

	/* container styles */
	.container {
		padding: 0 2rem;
		max-width: 100%;
	}

	/* popup styles */
	.popup {
		margin: 2rem auto;
		height: auto;
		width: 80%;
	}

	.popup__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: auto;
	}

	.popup__close {
		height: 2.5rem;
	}

	.popup__map,
	.popup__detail,
	.popup__provider {
		width: 100%;
	}

	.popup__map {
		margin-bottom: 2rem;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		height: 25rem;
	}

	.popup__detail {
		border: none;
		margin-bottom: 2rem;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		height: 25rem;
	}

	.popup__provider {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-ordinal-group: 4;
		    -ms-flex-order: 3;
		        order: 3;
		padding: .5rem 1rem;
		height: auto;
	}

	.popup__preview {
		margin-right: 2rem;
	}

	.popup__provider img {
		height: 6rem;
		width: auto;
	}

	.popup__provider-info {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}
}

@media (max-width: 660px) {
	html {
		font-size: 7px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 576px) {
	html {
		font-size: 6px;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 6px;
	}

	/* popup styles */
	.popup {
		width: 90%;
	}
}

@media (max-width: 375px) {
	html {
		font-size: 6px;
	}

	/* popup styles */
	.popup {
		width: 95%;
	}
}